/* Questions */

.question {
  text-align: center;
  font-size: 3em;
  letter-spacing: 2px;
  padding-left: 1em;
  padding-right: 1em;

}

/* Choices */

div#choices-div {
  text-align: center;
  font-size: 2em;
  /* line-height: 61px; */
  /* background-color: yellow; */
  margin: 0 130px;
}

div#choices-div li {
  background-color: #F4C500;
  margin-bottom: 10px;
  padding: 13px;
  border-radius: 100px;
  color: #0069D9;
  letter-spacing: 4px;
}

div#choices-div li:hover {
  background-color: #0069D9;
  color: white;
}
