table {
  margin: 0 auto;
  border: 5px solid #0069D9;
  padding: 5px;
  text-align: center;
  background: #553C67;
  color: white;
}

th {
  width: 150px;
  height: 150px;
  background-color: #F4C500;
  color: black;
  border-color: black;
  font-size: 25px;
  font-family: 'Bangers', cursive;
  border: 2px solid #0069D9;
  border-width: thick;
  padding-top: 40px;
}

td {
  width: 150px;
  height: 150px;
  background-color: white;
  color: #0069D9;
  border-color: black;
  font-size: 30px;
  font-family: 'Bangers', cursive;
  border: 2px solid #0069D9;
}

button {
  width: 150px;
  height: 150px;
  background-color: white;
  color: #0069D9;
  border-color: black;
  font-size: 30px;
  font-family: 'Bangers', cursive;
  border: 2px solid #0069D9;
}

button:hover {
  background-color: #0069D9;
  color: white;
}

body {
  font-family: 'Bangers', cursive;
  background-color: #000000;
  color: white;
  background-image: url("../images/game.jpg");
  background-position: center;
  background-size: cover;
}

h1 {
  font-family: 'Bangers', cursive;
  color: #F4C500;
  text-align: center;
  font-size: 100px;
  font-weight: 600;
}

.scores {
  text-align: center;
  border: 5px solid #F4C500;
  color: #F4C500;
  font-size: 25px;
  border-radius: 20px;
  font-family: 'Bangers', cursive;
}

#chatbox {
  padding: 20px;
  font-family: 'Delius', cursive;
  font-size: 20px;
  margin-left: 225px;
  height: 625px;
  width: 300px;
  border: 3px solid #0069D9;
  background-color: white;
  border-width: thick;
  color: #0069D9;
}
