/******************************************************************/

/******************************************************************/

/******************************************************************/

/******* GLOBAL *******/

body {
  font-family: 'Bangers', cursive;
  background-color: #000000;
  color: white;
  background-image: url("../images/brain-jam-bkg-2.jpg");
  background-size: 100% 100vh;
  background-repeat: no-repeat;
}

h1 {
  font-family: 'Bangers', cursive;
  color: #F4C500;
  text-align: center;
  font-size: 100px;
  font-weight: 600;
  letter-spacing: 5px;
}

/******************************************************************/

/******************************************************************/

/******************************************************************/

/******* TITLE *******/

.titleRow {
  margin: 25px 0;
}

/******************************************************************/

/******************************************************************/

/******************************************************************/

/******* START BUTTON *******/

.startBtnRow {
  text-align: center;
  margin-bottom: 25px;
}

#startBtn {
  border: 2px solid white;
  font-size: 35px;
  height: auto;
  width: 140px;
  padding: 10px;
  font-family: 'Bangers', cursive;
  background-color: #0069D9;
  color: white;
  border-radius: 0.6em;
  text-align: center;
  letter-spacing: 2px;
}

#startBtn:hover {
  background-color: #EDC643;
  color: #0069D9;
}

/******************************************************************/

/******************************************************************/

/******************************************************************/

/******* FACEBOOK LOGIN *******/

.row.facebook-login-row {
  text-align: center;
}

.loginBtn {
  box-sizing: border-box;
  position: relative;
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}

.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}

.loginBtn:focus {
  outline: none;
}

.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0, 0, 0, 0.1);
}

.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  text-shadow: 0 -1px 0 #354C8C;
}

.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}

.loginBtn--facebook:hover, .loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}

/******************************************************************/

/******************************************************************/

/******************************************************************/

/******* NAME AND SCORES *******/

.scoreRow {
  text-align: center;
}

.scores {
  text-align: center;
  border: 5px solid #F4C500;
  color: #F4C500;
  font-size: 25px;
  border-radius: 20px;
  font-family: 'Bangers', cursive;
}

/******************************************************************/

/******************************************************************/

/******************************************************************/

/******* GAME BOARD *******/

.gameRow {
  text-align: center;
}

table {
  margin: 0 auto;
  border: 5px solid #0069D9;
  padding: 5px;
  text-align: center;
  background: #553C67;
  color: white;
}

td {
  width: 100px;
  height: 100px;
  background-color: white;
  color: #0069D9;
  border-color: black;
  font-size: 30px;
  font-family: 'Bangers', cursive;
  border: 2px solid #0069D9;
}

.gameButton {
  width: 100px;
  height: 100px;
  background-color: white;
  color: #0069D9;
  border-color: black;
  font-size: 30px;
  font-family: 'Bangers', cursive;
  border: 2px solid #0069D9;
}

.gameButton:hover {
  background-color: #0069D9;
  color: white;
}
